.copyright {
	font-family: mySpace;
	font-size: 16px;
	height: 25vh;
	p {
		text-align: center;
		background: linear-gradient( 90deg, #21c1a9 40%, #aa21c1, #c12139);
		background-clip: text;
		-moz-background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}

//////////////////////////////////////////////////////////////////
//																															//
//    * NO TOCAR LAS MEDIA QUERIES POR FAVOR										//
//	  * ME LLEGA AL PINCHO SI ESTA EN DESORDEN , NO TOCAR       //
//																															//
//////////////////////////////////////////////////////////////////
@media screen and (min-width: 1366px) {
	.copyright {
		font-size: 16px;
	}
}

@media screen and (min-width: 1920px) {
	.copyright {
		font-size: 36px;
	}
}
