@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -7800px 0px;
  }
}
.shapeshifter {
  animation-duration: 1000ms;
  animation-timing-function: steps(60);
  animation-fill-mode: forwards;
  animation-delay: 1s;
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
}
.shapeshifter.play {
  animation-name: play60;
}
