.menuMenu {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	ul li {
		font-family: mySpace;
		text-align: left;
		list-style: none;
		font-size: 20px;
		color: #eee;
		margin: 20px 0;
		transition: all .2s ease-in;
		cursor: pointer;
		&:hover {
			color: #21c1a9;
		}
		i {
			margin: 0 15px;
		}
	}
	#Jugar {
		text-decoration: none;
		color: inherit;
	}
}

.menuContenedor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient( rgba(0, 0, 0, 1), rgba(26, 22, 53, 0.9));

	h1,
	p,div {
		text-align: center;
		font-family: mySpace;
	}
	h1 {
		margin: 70px 0 20px 0;
		font-family: mySpace;
		font-size: 32px;
	}
	p {
		// font-family: 'Quicksand', sans-serif;
		color: #eee;
		font-size: 16px;
		margin: 10px;
		word-break: break-all;
	}
	a{
		text-decoration: underline;
		color: #e3e3e3;
		// font-family: sans-serif;
		margin: 10px 0;
		display: block;
	}
	display: none;
}

.mostrarContenedor {
	display: block;
}

.instrucciones {
	h1 {
		color: #21c1a9;
		text-shadow: 0 0 15px #21c1a9;
	}
}

.desarrolladores {
	h1 {
		color: #c12139;
		text-shadow: 0 0 15px #c12139;
	}
}

.agradecimientos {
	h1 {
		color: #aa21c1;
		text-shadow: 0 0 15px #aa21c1;
	}
	p {
		padding: 20px 0;
	}
}

.cerrar {
	position: absolute;
	top: 10px;
	right: 10px;
	transform: translate(-5%, -5%);
	font-family: mySpace;
	font-size: 50px;
	transition: all .2s ease-in-out;
	color: #eee;
	cursor: pointer;
	&:hover {
		color: #c12139;
		text-shadow: 0 0 10px #c12139;
	}
}

//////////////////////////////////////////////////////////////////
//																															//
//    * NO TOCAR LAS MEDIA QUERIES POR FAVOR										//
//	  * ME LLEGA AL PINCHO SI ESTA EN DESORDEN , NO TOCAR       //
//																															//
//////////////////////////////////////////////////////////////////
// @media screen and ( min-width: 480px) {
// 	.menuMenu {
// 		ul li {
// 			// font-size: 16px;
// 		}
// 	}
// }
// @media screen and (min-width: 1366px) {
// 	.menuMenu {
// 		height: 25vh;
// 		ul li {
// 			font-size: 20px;
// 		}
// 	}
// }
// @media screen and (min-width: 1920px) {
// 	.menuMenu {
// 		height: 25vh;
// 	}
// }
