<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

<div class="menuMenu">
	<ul>
		<li>
			<a id="Jugar" routerLink="/pantalla-juego">
				<i class="fas fa-gamepad"></i>Jugar
			</a>
		</li>

		<li class="menuTitulo" data-id="2">
			<a>
				<i class="fas fa-glasses"></i>Desarolladores
			</a>
		</li>

		<li class="menuTitulo" data-id="3">
			<a>
				<i class="fas fa-book"></i>Instrucciones
			</a>
		</li>

		<li class="menuTitulo" data-id="4">
			<a>
				<i class="fas fa-heart"></i>Agradecimientos
			</a>
		</li>
	</ul>
</div>

<div class="menuContenedor desarrolladores">
	<h1>DESARROLLADORES</h1>
	<p>Willington Ortiz Maurtua</p>
	<p>Jair Huaman Bellido</p>
	<p>Joaquin Garcia Guzman</p>
	<span class="cerrar">X</span>
</div>

<div class="menuContenedor instrucciones">
	<h1>INSTRUCCIONES</h1>
	<p>Gana el que no ha perdido</p>
	<p>Respetar al bot!</p>
	<span class="cerrar">X</span>
</div>

<div class="menuContenedor agradecimientos">
	<h1>AGRADECIMIENTOS</h1>
	<div>
		<p>Muy agradecido con las paginas de las cuales hice uso de sus recursos para el diseño de este sitio web.</p>
		<p>https://unsplash.com/photos/zpxKdH_xNSI</p>
		<p>https://www.flaticon.com/free-icon/brain_950202#term=human%20brain&page=1&position=76</p>
		<p>https://www.flaticon.com/free-icon/artificial-intelligence_847286#term=artificial%20intelligence&page=1&position=3</p>
		<p>https://www.flaticon.com/free-icon/tic-tac-toe_771191#term=tic%20tac%20toe&page=1&position=31</p>
	</div>
	<span class="cerrar">X</span>
</div>