* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	src: url(../../assets/Fuentes/Beon.otf);
	font-family: mySpace;
	font-weight: 100;
}

.cabeceraIconos,
#cabeceraTitulo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cabeceraIconos {
	margin: 15px 0;
	justify-content: center;
	align-items: center;
	img {
		max-width: 100px;
		&:nth-child(2n) {
			margin: 0 40px;
		}
	}
}

#cabeceraTitulo {
	justify-content: center;
	font-family: mySpace;
	font-size: 25px;
	font-weight: 100;
	#tic {
		color: #aa21c1;
		text-shadow: 0 0 100px #aa21c1;
	}
	#tac {
		color: #21c1a9;
		text-shadow: 0 0 10px #21c1a9;
	}
	#toe {
		color: #c12139;
		text-shadow: 0 0 10px #c12139;
	}
}
//////////////////////////////////////////////////////////////////
//																//
//    * NO TOCAR LAS MEDIA QUERIES POR FAVOR					//
//	  * ME LLEGA AL PINCHO SI ESTA EN DESORDEN , NO TOCAR       //
//																//
//////////////////////////////////////////////////////////////////





@media screen and ( max-width:1920px){
	.cabeceraIconos{
		height: 25vh ;
		width: 600px;
		img{
			max-width: 200px;
		}
	}
	#cabeceraTitulo{
		height: 15vh;
		font-size: 48px;
	}
}

@media screen and ( max-width:1366px){
	.cabeceraIconos{
		height: 25vh ;
		width: 600px;
		img{
			max-width: 120px;
		}
	}
	#cabeceraTitulo{
		height: 15vh;
		font-size: 32px;
	}
}
@media screen and ( max-width:480px){
	.cabeceraIconos{
		height: 25vh ;
		width: 400px;
		img{
			max-width: 80px;
		}
	}
	#cabeceraTitulo{
		height: 15vh;
		font-size: 24px;
	}
}

