* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: mySpace;
	src: url(../../assets/Fuentes/Beon.otf);
	font-weight: 100;
}

#contenedorDatos {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.8s ease-in-out;
	.datos-form {
		margin: 3% 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		input {
			padding: 10px 25px;
			border-radius: 15px;
			background: rgba(255, 255, 255, 0.02);
			font-family: mySpace;
			text-align: center;
			background: transparent;
			margin: 15px 0;
			font-size: 18px;
			&:focus {
				outline: none;
			}
		}
		#juegoFilas,
		#juegoColumnas,
		#juegoNombreJugador,
		#juegoRondas {
			width: 70%;
		}
		#juegoNombreJugador {
			border: 1px solid #eee;
			color: #eee;
		}
		#juegoRondas {
			border: 1px solid #aa21c1;
			color: #aa21c1;
		}
		#juegoFilas {
			border: 1px solid #21c1a9;
			color: #21c1a9;
		}
		#juegoColumnas {
			border: 1px solid #aa21c1;
			color: #aa21c1;
		}
		#juegoBotonJugar {
			width: 50%;
			background: #1f3e84;
			border: none;
			font-weight: 700;
			letter-spacing: 1px;
			color: #eee;
			font-family: "Quicksand", sans-serif;
			cursor: pointer;
			&:active {
				transform: scale(0.95);
			}
		}
	}
}

#contenedorJuego {
	display: flex;
	flex-direction: column;
	position: relative;
	.juegoMarcador,
	#contenedor {
		display: flex;
		justify-content: center;
	}
	.juegoMarcador {
		flex-direction: column;
		align-items: center;
		margin: 20px 0;
		#juegoPuntajeRonda,
		#juegoPuntajeJuego {
			color: #ff1c3e;
			font-family: mySpace;
			text-shadow: 0 0 10px #ff1c3e;
			font-size: 30px;
		}
	}
	#reload {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 5%;
		width: 50px;
		height: 50px;
		font-size: 42px;
		color: #eee;
		transition: all .5s ease-in-out;
		z-index: -1;
		opacity: 0;
		cursor: pointer;
		&:hover {
			transform: rotate(270deg);
			text-shadow: 0 0 10px #eee;
		}
	}
	::ng-deep #contenedor {
		height: 100%;
		table {
			border-collapse: collapse;
			&,
			tr,
			td {
				border: 1px solid #aaa;
			}
			tr,
			td {
				font-family: mySpace;
				text-align: center;
				color: #306cf7;
			}
		}
	}
	display: none;
}

::ng-deep .juegoContenedor {
	position: absolute;
	background: dodgerblue;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	#juegoMensaje {
		margin: 50px 0 0 0;
		color: #eee;
	}
	.juegoCerrar {
		display: none;
	}
	display: none;
}

.neonAnimate {
	animation: neonAI 6s linear;
}

.reload-animation {
	z-index: 1 !important;
	opacity: 1 !important;
	animation: reload-giro 1.5s ease-in-out;
}

::ng-deep .ColorRojo,
::ng-deep .ColorRojoMarcado {
	color: #ff1c3e !important;
}

::ng-deep .ColorRojoMarcado {
	text-shadow: 0 0 10px white !important;
}

::ng-deep .ColorAzul,
::ng-deep .ColorAzulMarcado {
	color: #21c1a9 !important;
}

::ng-deep .ColorAzulMarcado {
	text-shadow: 0 0 10px white !important;
}

@keyframes reload-giro {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	75% {
		transform: rotate(410deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
