<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

<div id="contenedorDatos">
	<form class="datos-form" #formulario="ngForm" (ngSubmit)="iniciarJuego(formulario.value)">
		<input type="text" placeholder="Nombre" name="nombre" ngModel>
		<input type="text" placeholder="Rondas" name="rondas" ngModel>
		<div class="juegoInputsContenedor">
			<input type="text" placeholder="Filas" name="filas" ngModel>
			<input type="text" placeholder="Columnas" name="columnas" ngModel>
		</div>
		<div class="juegoDificultadContenedor">
			<label class="juegoTitulo">dificultad</label>
			<label class="juegoDificultad">
				<input type="radio" name="dificultad" value="facil" ngModel>Facil
			</label>
			<label class="juegoDificultad">
				<input type="radio" name="dificultad" value="medio" ngModel>Medio
			</label>
			<label class="juegoDificultad">
				<input type="radio" name="dificultad" value="dificil" ngModel>Dificil
			</label>
		</div>
		<button type="submit">JUGAR</button>
	</form>
</div>

<div id="contenedorJuego">
	<div class="juegoMarcador">
		<div id="juegoPuntajeRonda"></div>
		<div id="juegoPuntajeJuego"></div>
	</div>

	<p id="reload">
		<i class="fas fa-sync-alt"></i>
	</p>

	<div id="contenedorTablero">
	</div>
</div>

<div class="juegoContenedor">
	<h1 id="juegoMensaje"></h1>
	<span class="juegoCerrar"></span>
</div>
