#contenedorDatos,
#contenedorJuego,
.datos-form {
	display: flex;
	flex-direction: column;
}

#contenedorDatos {
	align-items: center;
	.datos-form {
		justify-content: space-between;
		align-items: center;
		input,
		button {
			margin: .5em 0;
			padding: 10px 0;
			border-radius: 15px;
			background: rgba(255, 255, 255, 0.02);
			font-family: mySpace;
			text-align: center;
			background: transparent;
			font-size: 18px;
			border: none;
			&:focus {
				outline: none;
			}
		}
		input[name=nombre],
		input[name=rondas] {
			width: 70%;
		}
		input[name=nombre] {
			border: 1px solid #eee;
			color: #eee;
		}
		input[name=rondas] {
			border: 1px solid #aa21c1;
			color: #aa21c1;
		}
		.juegoInputsContenedor {
			width: 85%;
			display: flex;
			justify-content: space-around;
			input[name=filas],
			input[name=columnas] {
				width: 45%;
			}
			input[name=filas] {
				border: 1px solid #21c1a9;
				color: #21c1a9;
			}
			input[name=columnas] {
				border: 1px solid #aa21c1;
				color: #aa21c1;
			}
		}
		.juegoDificultadContenedor {
			width: 80%;
			margin: .5em 0;
			padding: .5em 0;
			color: #eee;
			font-family: mySpace;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			font-size: 18px;
			.juegoTitulo {
				width: 100%;
				padding-bottom: .5em;
			}
			label {
				width: 30%;
			}
		}
		button {
			width: 60%;
			background: linear-gradient( 45deg, #306cf7, #ff1c3e);
			border: none;
			letter-spacing: 1px;
			color: #ccc;
			font-weight: 300;
			font-family: "Quicksand", sans-serif;
			cursor: pointer;
			&:active {
				transform: scale(0.95);
			}
		}
	}
}

#contenedorJuego {
	position: relative;
	.juegoMarcador,
	#contenedorTablero {
		display: flex;
		justify-content: center;
	}
	.juegoMarcador {
		flex-direction: column;
		align-items: center;
		margin: 20px 0;
		#juegoPuntajeRonda,
		#juegoPuntajeJuego {
			color: #ff1c3e;
			font-family: mySpace;
			text-shadow: 0 0 10px #ff1c3e;
			font-size: 30px;
		}
	}
	#reload {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 5%;
		width: 50px;
		height: 50px;
		font-size: 42px;
		color: #eee;
		transition: all .5s ease-in-out;
		z-index: -1;
		opacity: 0;
		cursor: pointer;
		&:hover {
			transform: rotate(270deg);
			text-shadow: 0 0 10px #eee;
		}
	}
	::ng-deep #contenedorTablero {
		height: 100%;
		table {
			border-collapse: collapse;
			&,
			tr,
			td {
				border: 1px solid #aaa;
			}
			tr,
			td {
				font-family: mySpace;
				text-align: center;
				color: #306cf7;
			}
		}
	}
	display: none;
}

::ng-deep .juegoContenedor {
	position: absolute;
	background: linear-gradient( 45deg, rgba(97, 7, 7, .92), rgba(5, 17, 79, 1));
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	#juegoMensaje {
		margin: 50px 0 0 0;
		color: #eee;
		font-family: mySpace;
	}
	.juegoCerrar {
		display: none;
	}
	display: none;
}

.reload-animation {
	z-index: 1 !important;
	opacity: 1 !important;
	animation: reload-giro 1.5s ease-in-out;
}

::ng-deep .ColorRojo,
::ng-deep .ColorRojoMarcado {
	color: rgba(255, 217, 0, 0.70) !important;
}

::ng-deep .ColorRojoMarcado {
	text-shadow: 0 0 10px rgb(255, 217, 0) !important;
	color: rgb(255, 217, 0);
	animation: AnimacionTresEnRaya .5s ease-in-out;
}

::ng-deep .ColorAzul,
::ng-deep .ColorAzulMarcado {
	color: rgba(0, 255, 217, 0.7) !important;
}

::ng-deep .ColorAzulMarcado {
	text-shadow: 0 0 10px rgb(0, 255, 217) !important;
	color: rgb(0, 255, 217);
	animation: AnimacionTresEnRaya .5s ease-in-out;
}

@media only screen and ( min-width: 480px) {
	#contenedorDatos {
		.datos-form {
			input[name=nombre],
			input[name=rondas] {
				width: 50%;
			}
			.juegoInputsContenedor {
				width: 50%;
			}
			.juegoDificultadContenedor {
				width: 50%;
			}
			button {
				width: 50%;
			}
		}
	}
}

@keyframes reload-giro {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	75% {
		transform: rotate(410deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes AnimacionTresEnRaya {
	0% {
		opacity: 2;
	}
	49% {
		opacity: 2;
	}
	50% {
		opacity: 0
	}
	51% {
		opacity: 0.5;
	}
	52% {
		opacity: 0.3;
	}
	53% {
		opacity: 1;
	}
	54% {
		opacity: 0;
	}
	55% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
