<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

<div id="contenedorDatos">
	<form class="datos-form">
		<input id="juegoNombreJugador" type="text" placeholder="Nombre">
		<input id="juegoRondas" type="text" placeholder="Rondas">
		<input id="juegoFilas" type="text" placeholder="Filas">
		<input id="juegoColumnas" type="text" placeholder="Columnas">
		<input id="juegoBotonJugar" type="button" value="Jugar">
	</form>
</div>

<div id="contenedorJuego">
	<div class="juegoMarcador">
		<div id="juegoPuntajeRonda"></div>
		<div id="juegoPuntajeJuego"></div>
	</div>

	<p id="reload">
		<i class="fas fa-sync-alt"></i>
	</p>

	<div id="contenedor">
	</div>
</div>

<div class="juegoContenedor">
	<h1 id="juegoMensaje"></h1>
	<span class="juegoCerrar"></span>
</div>
