<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

<div id="contenedorDatos">
	<form class="datos-form">
		<input id="NombreJugador" type="text" placeholder="Nombre">
		<input id="filas" type="text" placeholder="Filas">
		<input id="columnas" type="text" placeholder="Columnas">
		<input id="botonJugar" type="button" value="Jugar">
	</form>
</div>

<div id="contenedorJuego">
	<div class="marcador">
		<div id="puntaje" class="barra submarcado"></div>
	</div>

	<p id="reload">
		<i class="fas fa-sync-alt"></i>
	</p>

	<div id="contenedor">
	</div>
</div>
