* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	src: url(./assets/Fuentes/Beon.otf);
	font-family: mySpace;
	font-weight: 100;
}

body {
	height: 100vh;
	background: linear-gradient( 45deg, rgba(97, 7, 7, .62), rgba(5, 17, 79, 1)), url('./assets/Imagenes/Fondo.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
